body {
	font-family: 'Josefin Slab', Arial, sans-serif;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #29292a;
    background: linear-gradient(to bottom, rgba(46,46,46,1) 0%,rgba(20,20,20,1) 100%);
    background-attachment: fixed;
    color: #dadada;
}

h1,h2,h3,h4,h5{
    color: #d6d6d6;
}

/*Tamaño de los menús de la barra de navegación*/
.nav-link{
    font-size: 16pt;
}

/*Tamaño del menú que lleva a home en la barra de navegación*/
.nav-link-large{
    font-size: 20pt;
}

/*Espacio en blanco para index.html*/
.blank-space{
    margin: 10px; 
    width: 70px; 
    height: 100px;
}

/*Tamaño del footer*/
.footer-large{
    font-size: 20px;
}

/*Background del footer*/
footer{
    background:  rgba(0,0,0,.45);
}

/*Tamaño de la letra del menú*/
.menu-link{
    font-size: 18px;
}

/*Tamaño de la letra de Article*/
.article-size{
    font-size: 20px;
}

/*Margen*/
.top-buffer{
    margin-top:20px;
}

.large-font{
    font-size: 30px;
}

.medium-font{
    font-size: 20px;
}


/*Footer*/

footer{
  height: 60px;
  text-align: center;
}


#logo{
  background-color: rgba(0,0,0,.45);
}


/*Animación de giro para about*/
.anim
{    
/*Giro*/
-webkit-animation:indexAnimation 35s linear infinite;
-moz-animation:indexAnimation 35s linear infinite;
animation:indexAnimation 35s linear infinite;
transition: left 0.5s;
}

/* Chrome, Safari, Opera, Firefox */
@-webkit-keyframes indexAnimation
{
0%   {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg);}
100%  {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg)}
}

@keyframes indexAnimation
{
0%   {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg);}
100%  {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);}
}











