body {
  padding-top: 50px;
  background-color: #29292a;
  color: #dadada;
}
h1,h2,h3,h4,h5{
  color: #d6d6d6;
}
.centered-body {
  padding: 40px 15px;
  text-align: center;
}
.colored-line{
  height: 2px;
  background: #1c1d1d;
  background: linear-gradient(to right,  #1c1d1d 0%,#01db0c 22%,#e203e9 64%,#460349 100%);
}