/*Centrado vertical del menu*/
#main-menu{
  margin-bottom: 100px;
  margin-top: 100px;
}
  @media (max-height: 600px){
    #main-menu{
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
  @media (max-height: 400px){
    #main-menu{
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

.bmenu{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}
.bmenu li{
    font-size: 50px;
    display: block;
}
  /*Tamaño de la letra al escalar horizontalmente*/
  @media (max-width: 700px){
    .bmenu li{
      font-size: 30px;
    }
}
.bmenu li a{
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #000;
  text-decoration: none;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 6px #000;
}
.bmenu li a:hover{
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
}

body{
	background-color: transparent;
    background-image: url('../images/menu_bg.jpg');
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
	color: #fff;
	font-family: 'Josefin Slab', Arial, sans-serif;
	font-size: 13px;
}

a{
	color: #fff;
	text-decoration: none;
}

.content{
	position:relative;
    margin: 0 auto;
}



